<%= form_with(model: @invoice, format: :html) do %>
  <%= hidden_field_tag "serialized_invoice", @invoice.to_encrypted_s %>
  <%= hidden_field_tag "error_count", @invoice.errors.attribute_names.count %>

  <header class="flex justify-between pb-4 border-b m-0">
    <div class="space-x-2">
      <h1 class="font-bold text-xl inline-block">
        Invoice #<%= @invoice.invoice_number %>
      </h1>
    </div>
    <div class="font-light space-x-2">
      <button type="submit" class="<%= primary_button_classes %>">Save</button>
      <a href="<%= invoices_path %>" class="<%= secondary_button_classes %>">Cancel</a>
    </div>
  </header>

  <div class="mt-8 flex flex-col space-y-4">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Description</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Qty</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Unit Price</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Disc. %</th>
                <th scope="col" class="px-3 py-3.5 text-sm font-semibold text-gray-900 text-right">Total</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                  <span class="sr-only">Delete</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <% @invoice.line_items.each do |line_item| %>
                <%= render LineItemRowComponent.new(line_item) unless line_item.marked_for_destruction? %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="flex justify-between">
      <div>
        <button
          data-reflex="click->InvoiceReflex#add_line"
          data-reflex-serialize-form="true"
          class="<%= alt_button_classes %>"
        >Add Line</button>
      </div>

      <%= render InvoiceTotalComponent.new(@invoice) %>
    </div>
  </div>
<% end %>
